@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*, *::after, *::before {
  box-sizing: border-box;
}


a {
    text-decoration: none;
  }

  /* 에버랜드 photo spot  */

 
  #J_clip {
    width: 100%;
    background: url(../img/J/photo/background.png);
    background-size: cover;
    margin: 50px 0;
    padding: 50px 0;
    position: relative;
  }
  
  #J_title h3 {
    font-family: "Jua";
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
  }
  
  #J_title p {
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85rem;
    letter-spacing: 0.12em;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
  }

  .J_t {
    font-size: 1rem;
    font-family: "Cafe24SsurroundAir";
  }
  
  #J_slide {
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .J_photo_txt {
    width: 100%;
  }
  
  #J_slide li {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 0.75rem;
    font-family: "Cafe24SsurroundAir";
    line-height: 1rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 10px;
    border: 2px solid #604496;
  }
  #J_slide li p {
    width: 90%;
    margin: 0 auto;
    color: #272830;
  }
  
  #J_slide li img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;
  }
  
  
  #J_more {
    width: 100%;
    margin: 0 auto;
  }
  
  #J_button {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    width: 40%;
    margin-left: 30%;
    font-family: "Cafe24SsurroundAir";
    font-size: 0.8rem;
    color: #fff;
  }
  
  #J_button img {
    width: 10%;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .J_photo_txt {
    position: relative;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding: 10px 5px 10px 5px;
   }
  
   .J_photo_txt a h4 {
      font-size: 0.8rem;
      margin-bottom: 5px;
      font-family: 'Cafe24Ssurround';
      letter-spacing: 0.1rem;
   }
  
   .J_photo_txt a p {
    font-size: 0.6rem;
    font-family: 'Cafe24SsurroundAir';
   }
  
  
  
  
    
  /* 에버랜드 best 어트렉션 */

  #J_slider_best {
    text-align: center;
    margin-top: 100px;
    padding: 0 10px 0 20px;
  }
  
  .J_slider_be h3 {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Cafe24Ssurround';
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }

  .J_slider_be span{
    color: #7F47DD;
    font-family: 'Jua';
  }

  .J_slider_be p {
    font-size: 0.8em;
    font-family: 'Cafe24SsurroundAir';
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .J_slider_best h4 {
    text-align: center;
    margin-top: 3px;
    font-size: 0.85rem;
    font-family: 'Cafe24Ssurround';
    letter-spacing: 0.1em;
    color: #000;
    margin-bottom: 15px;
  }
  
  .J_slider_best p {
    font-size: 0.7rem;
    font-family: 'Cafe24SsurroundAir';
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #000;
  }
  
  #J_slider_best {
    text-align: center;
  }
  
  .J_slide_container {
    display: flex;
  }
  
  .J_slider_best {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    /* margin-top: 30px; */
    /* height: 435px; */
  }
  
  .J_slider_best::-webkit-scrollbar {
    display: block;
    width: 100%;
    height: 3px;
  }
  
  .J_slider_best::-webkit-scrollbar-thumb {
    background-color: #4e1d9f;
    border-radius: 10px;
  }
  
  .J_slider_best::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 10px;
  }
  
  .J_img {
    flex: none;
    scroll-snap-align: start;
    width: 43%;
    height: 100%;
    margin: 10px;
  }
  
  .J_img img {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* height: 140px; */
    border-radius: 20px;
    margin: 15px 0;
  }
  
  #J_best1 {
    border: 1px solid #FBAE17;
  }
  
  #J_best2 {
    border: 1px solid #6A2C81;
  }
  
  #J_best3 {
    border: 1px solid #2DBDCA;
  }
  
  #J_best4 {
    border: 1px solid #FBAE17;
  }
  
  #J_best5 {
    border: 1px solid #6A2C81;
  }
  
  #J_best6 {
    border: 1px solid #2DBDCA;
  }
  
  



  /* 오늘의 공연 시간 */
  
  #J_parade {
    width: 100%;
    height: 660px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5rem;
    margin-top: 110px;
    overflow: hidden;
}

  #J_slider_all {
    height: 100%;
    display: flex;
  }

  .J_slider {
    width: 100%;
    height: 100%;
  }

 #J_parade01 h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: 'Cafe24Ssurround';
  letter-spacing: 0.2em;
 }

 #J_parade01 p {
  font-size: 1em;
  margin-bottom: 10px;
  font-family: 'Cafe24SsurroundAir';
  letter-spacing: 0.15em;
 }

  .J_parade1 {
   padding-top: 190px;
   position: relative;
  }

  .J_parade1 h2 {
      font-size: 1rem;
      line-height: 1.7em;
      font-family: 'Cafe24Ssurround';
      letter-spacing: 0.2em;
  }

  .J_parade1 h3 {
      font-size: 0.9rem;
      margin-bottom: 8px;
      font-family: 'Cafe24Ssurround';
      letter-spacing: 0.2em;
  }

  .J_parade1 p {
      font-size: 0.75rem;
      font-family: 'Cafe24SsurroundAir';
      letter-spacing: 0.15em;
  }

  #J_btn {
    width: 100%;
    z-index: 99;
    position: absolute;
  }

  #J_btn img {
    width: 8%;
    z-index: 99;
    position: absolute;
    margin-top: -420px;
  }

  #J_btn .prev {
    margin-left: -100%;
    cursor: pointer;
  }

  #J_btn .next {
    margin-right: -80%;
    cursor: pointer;
  }

  .J_par_top {
      width: 380px;
      border-radius: 25px;
      margin-top: -140px;
      margin-bottom: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  #J_parade1 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  #J_parade2 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  #J_parade3 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  #J_parade4 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_4.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  #J_parade5 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_5.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  #J_parade6 {
      margin-top:80px;
      width: 100%;
      height: 480px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,1)), url(../img/J/parade/parade_6.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0 0 50px 50px;
  }

  .J_more {
      width: 50%;
      height: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: rgba(255,255,255,0.3);
      border: 2px solid #7F47DD;
      border-radius: 50px;
  }

  .J_more a {
      color: #7F47DD;
      font-size: 0.55rem;
      font-family: 'Cafe24SsurroundAir';
      letter-spacing: 0.15em;
  }





  /* 운휴 안내 */

#J_suspension {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #7F47DD;
    border: 2px solid #7F47DD;
    border-radius: 5% 5% 0 0;
    margin-top: 80px;
    margin-bottom: 100px;
}

#J_suspension1 {
    width: 100%;
    padding: auto 0;
    padding: 5% 0;
    color: #fff;
}

#J_suspension1 h2{
    width: 100%;
    padding: auto 0;
    padding: 2% 0;
    color: #fff;
    font-family: 'Cafe24Ssurround';
}

#J_suspension1 p {
    font-size: 0.7rem;
    letter-spacing:0.08rem;
    font-family: 'Cafe24SsurroundAir';
}

#J_suspension2 {
    height: 380px;
    padding: 10% 3%;
    background-color: #fff;
    position: relative;
    font-family: 'Cafe24Ssurround';
}

#J_suspension_top {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 30px;
}

#J_suspension_top span {
    font-size: 1rem;
    margin-top: 5%;
    font-weight: 900;
    letter-spacing:0.1rem;
    font-family: 'Cafe24SsurroundAir';    
}

#J_suspension_top p {
    font-size: 0.75rem;
    font-family: 'Cafe24SsurroundAir';
    letter-spacing:0.1rem;
    line-height: 20px;    
}

#J_suspension2 button {
    width: 50%;
    height: 35px;
    margin-top: 125px;
    background-color: #fff;
    border: 2px solid #7F47DD;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#J_suspension2 button a {
    color: #7F47DD;
    font-size: 0.6rem;
    font-family: 'Cafe24SsurroundAir';
    letter-spacing:0.06rem;
}

#J_suspension_img {
    position: absolute;
    width: 94%;
    margin-top: -80px;
}

#J_suspension2_left {
    width: 20%;
    float: left;
    margin-top: -85px;
}

#J_suspension2_right {
    width: 15%;
    float: right;
    margin-top: -83px;
}


@media screen and (min-width : 400px) and (max-width : 640px) {
    #J_suspension_img {
        position: absolute;
        width: 94%;
        margin-top: -80px;
    }
    
    #J_suspension2_left {
        width: 20%;
        float: left;
        margin-top: -18px;
    }
    
    #J_suspension2_right {
        width: 15%;
        float: right;
        margin-top: -23px;
    }

}
